{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        [
            "transform-react-jsx",
            {
                "pragma": "h"
            }
        ],
        "preact-require",
        "transform-es2015-modules-commonjs"
    ]
}
