{
    "presets": [
        ["env", {
            "modules": false
        }],
        "flow"
    ],
    "plugins": [
        "transform-object-rest-spread",
        ["transform-react-jsx", {
            "pragma": "h_gu"
        }],
        ["provide-modules", {
          "lib/h_gu": ["h_gu"]
        }]
    ]
}