<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Plain</title>
    <link rel="stylesheet" href="http://pasteup.guim.co.uk/0.0.5/css/fonts.pasteup.min.css">
    <link rel="stylesheet" href="../normalize.css">
    <link rel="stylesheet" href="../base-styles.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>Plain</h1>
    <ul class="prototype__fixed-width">
      <li class="u-faux-block-link">
        <div
            class="fc-item fc-item--force-image-upgrade fc-item--has-image fc-item--has-metadata fc-item--has-sublinks-1 fc-item--is-commentable js-fc-item tone-news--item fc-item--list-media-mobile fc-item--standard-tablet js-snappable"
            data-discussion-closed="false"
            data-discussion-url="https://www.theguardian.com/technology/2016/dec/14/yahoo-hack-security-of-one-billion-accounts-breached#comments"
            data-link-name="news | group-1 | card-4"
            data-item-visibility="all"
            data-test-id="facia-card"
            data-id="technology/2016/dec/14/yahoo-hack-security-of-one-billion-accounts-breached"
            data-loyalty-short-url="/p/5g4jt"
            data-node-uid="15">
            <div class="fc-item__container">
                {{> fcImage }}
                {{> fcContent }}
                </div>
        </div>
      </li>
    </ul>
  </body>
</html>
