

.container-news:before {
    background-color: #4bc6df;
}

.container-opinion:before {
  background-color: orange;
}


/* When hovering the u-faux-block-link, the `.u-faux-block-link--hover` class should be added to .fc-item__container */
.fc-item .u-faux-block-link--hover {
    color: inherit;
    background-color: #eaeaea; /* mix($story-package, $neutral-1, 50%) */
}

/* FaciaCardContent */

$toneIds: 'news', 'opinion';
$tones: #4bc6df, orange;

@for $i from 1 through length($tones) {
    .fc-item-headline-#{nth($toneIds, $i)} {
        color: nth($tones, $i);
    }
}

.fc-item-headline-news {
    color: #4bc6df;
}

.fc-item-headline-opinion {
    color: orange;
}
