<div class="fc-item__content">
    <div class="fc-item__header">
        <h2 class="fc-item__title"><a href="https://www.theguardian.com/technology/2016/dec/14/yahoo-hack-security-of-one-billion-accounts-breached" class="fc-item__link" data-link-name="article"><span class="fc-item__kicker">Yahoo hack</span> <span class="u-faux-block-link__cta fc-item__headline"> <span class="js-headline-text">1bn accounts compromised by biggest data breach in history</span></span> </a></h2>
    </div>
    <div class="fc-item__standfirst">
        The latest incident to emerge – which happened in 2013 – is probably distinct from the breach of 500m user accounts in 2014
    </div>
    <a href="https://www.theguardian.com/technology/2016/dec/14/yahoo-hack-security-of-one-billion-accounts-breached" class="u-faux-block-link__overlay js-headline-text" data-link-name="article" tabindex="-1">1bn accounts compromised by biggest data breach in history</a>
</div>
